@font-face {
  src: url('/fonts/FOTNewRodin Pro L.otf');
  font-family: 'NewRodin';
  font-weight: 400;
}

@font-face {
  src: url('/fonts/FOTNewRodin Pro M.otf');
  font-family: 'NewRodin';
  font-weight: 500;
}

@font-face {
  src: url('/fonts/FOTNewRodin Pro B.otf');
  font-family: 'NewRodin';
  font-weight: 600;
}

@font-face {
  src: url('/fonts/FOTNewRodin Pro DB.otf');
  font-family: 'NewRodin';
  font-weight: 700;
}

@font-face {
  src: url('/fonts/FOTNewRodin Pro EB.otf');
  font-family: 'NewRodin';
  font-weight: 800;
}

@font-face {
  src: url('/fonts/FOTNewRodin Pro UB.otf');
  font-family: 'NewRodin';
  font-weight: 900;
}